/* video / cards CSS */
.vidContainer{
    margin:auto;
    margin-top: 120px;
    width: 60%;
}
.CardImage{
    height: 250px;
    width: 250px;
    margin-bottom: 3px;
    
}
.CardHeader{
    font-size: 23px;
    font-weight: bold;
    text-align : center;
}
.CardCSS{
    margin: 10px;
}
/* Home CSS */
.titles{
    text-align : center;
    font-family: fantasy;
}

.ui.card{
    border-radius: 25px !important;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.25), -3px -3px 4px 4px rgba(0,0,0,0.22) !important;
  cursor: pointer !important;
}